@import url('http://fonts.cdnfonts.com/css/serious-rounded');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');
body {
    background-color: rgb(255, 204, 65);
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #ff0000;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: 2px 2px #ff0000;
}

/*////////////////////////////////////////////  Buttons /////////////////////////////////////////////////*/

#navWrap{
  width:40vh;
  height: 15vh;
  background-color: brown;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buttonWrap{
  display: flex;
flex-direction: row;
}

.feedButton{
  width: 5vh;
  height: 5vh;
  background-color: blue;
  margin: .5vh;
  list-style: none;
}

.feedButton:hover{
  width: 5.5vh;
  height: 5.5vh;
  background-color: blue;
  margin: .5vh;
}

/*///////////////////////////////////////////// Character Screen Styling ////////////////////////////////*/

nav h1{
  text-align: center;
}


#container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.leaderWrap{
  width:80vh;
  height: 100vh;
  background-color: aqua;
}



.ctrlWrap{
  width:80vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ctrlWrap h2{
  text-align: center;
}

.leadStats{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.btnList{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


li {
 list-style: none;
 margin: 1vh;
 text-align: center;
}

.btn{
  width: 15vh;
  height: 15vh;
  background-color: brown;
  box-shadow: 3px 5px rgb(93, 51, 27);
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: 2px 2px #ff0000;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  background-color: rgb(165, 99, 42);
  border-radius: 50%;
}

label{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: white;
  text-shadow: 2px 2px #ff0000;
}


.leadStats{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
}
.stat{
  width:20vh;
  height: 10vh;
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px #ff0000;
}